.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .contain{
  background-color: black;
  width: 100%;
  height: 200px;

} */
.sect{
  background-color:black;
   height: 890px;
}
h5{
  margin-top: 12%;
}
.navs{
  background-color: black;
  height: 450%;
}
.btn:hover {
  background-color: blue !important;
}

.pr{
  margin-left: 15%;
  font-size: 100px;
  width: 20%;
 color: rgb(195, 17, 17);
}


.collect{
  margin-top: 9%;
}
.img1{
  margin-top: -15%;
 
}
.col{
  position: relative;
}
.img2{
   position: relative;
 
}
.img3{
  position: absolute;
  top:5%;
  left: -13%;
}
.img4{
  position: absolute;
  top:85%;
  left: -50px;
}
.img5{
  position: absolute;
  top:-2%;
  left: -8%;
}

.top{
  left: -50px;

}
#button{
  border-radius: 25px;
  border: 1px solid rgb(38, 204, 250);
  width: 50%;

}
#btn{
  width: 30%;
  height: 20%;
}

input{
  width: 50%;
  height: 150%;
}
#but{
  /* width: 50%; */
  height: 150%;
  border-radius: 8px;
}
.footer{
  background-color: #031029;
  margin-top: 20%;
}
.input{
  background-color: #f4f7fa;
  border-radius: 8px;
  border: none;
}
.image{
  margin-left: 50px;
  width: 200px;
  height: 200px;
  
  animation: square-to-circle 2s infinite alternate;
}
@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:rgb(167, 217, 15);
 
  }
  25%  {
    border-radius:10% 10% 10% 10%;
    background:rgb(121, 226, 9);
    
  }
  50%  {
    border-radius:25% 25% 25% 25%;
    background:rgb(140, 228, 8)
    
  }
  75%  { 
    border-radius:40% 40% 40% 40%;
     background:rgb(140, 250, 13);
  }
  100% {  
    border-radius:50%;
     background:rgb(118, 228, 8);
  }
}

.training::before{
  content: '';
  position:absolute;
  width: 65px;
  height: 3px;
  background-color: red;
  top: 200%;
}
.onb::before{
   content: '';
  position:absolute;
  width: 65px;
  height: 3px;
  background-color: red;
  top: 200%;
}
.course::before{
   content: '';
  position:absolute;
  width: 65px;
  height: 3px;
  background-color:#ffffff;
  top: 200%;
}
.salle{
  margin-top:-80%;
  left: 20%;
  border: 1px solid red;
  background-color: red;
  width:20% ;
  color: #ffffff;
}
.par{
  margin-top: 50%;
}